@font-face{
	font-family: "Amethysta";
	src: url(../fonts/Amethysta-Regular.ttf)
}
@font-face{
	font-family: "HOMOARAK";
	src: url(../fonts/HOMOARAK.TTF)
}
body{
    font-family: "Amethysta";
    font-size: 14px;
}
#welcome{
    min-height: 458px;
    background: linear-gradient(to top left, #000, #fff)
}
#nav_list {
	list-style-type: none;
	padding: 2% 5%;
	display: flex;
	gap: 1.5%;
	justify-content: end;
	text-transform: capitalize;
}
#nav_list a{
	text-decoration: none;
	color: #fff;
}
#introduction {
	color: #fff;
	width: 50%;
	margin: auto;
	height: 155px;
	position: relative;
	top: 54px;
}
#intro_inner_container{
	text-transform: capitalize;
	display: flex;
	flex-direction: column;
	gap: 3%;
	margin: auto;
	height: 100%;
	width: -moz-max-content;
	width: max-content;
}
#about_acton_butn {
	text-transform: capitalize;
	margin-top: 1%;
	height: 36px;
	padding: 0px;
}
#intro_text {
	font-size: 60px;
	font-weight: bolder;
}
.header {
	font-family: "Amethysta";
	text-align: center;
	font-size: 23px;
	font-weight: bolder;
	padding-bottom: 2%;
	text-transform: uppercase;
}
#services {
    width: 100%;
	background: #fff;
	padding-top: 4%;
}
#service_container {
	width: 90%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 5%;
	box-sizing: border-box;
	padding: 0% 4%;
	height: 255px;
}
.service_item {
	display: flex;
	flex-direction: column;
	gap: 8%;
}
#service1{
	gap: 6%;
}
#service1_text {
	margin-top: 7px;
}
#service3{
	gap: 9%;
}
.service_image {
	text-align: center;
}
#web_dev_icon {
	scale: 1.2;
}
#web_scraping_icon {
	scale: 1.4;
}
.service_header {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
.service_description {
	text-align: center;
}
#projects {
	min-height: 400px;
	background: #fff;
}
#project_container {
	width: 62%;
	height: 500px;
	margin: auto;
	padding-top: 0.8%;
	display: grid;
	grid-template-columns: 8fr 5fr;
}
#col_1 {
	display: grid;
	grid-template-rows: 8fr 5fr;
}
#col_1a {
	background-color: #333;
}
#col_1b {
	display: grid;
	grid-template-columns: 8fr 5fr;
}
#col_1b1{
	background-color: #666;
}
#col_1b2{
	background-color: #999;
}
#col_2{

	display: grid;
	grid-template-rows: 3fr 1fr;
}
#col_2a{
	background-color: #4d4d4d;
}
#col_2b{
	background-color: #808080;
}
#contact_me {
	padding: 3% 0%;
	font-size: 23px;
}
#contact_container {
	width: 90%;
	margin: auto;
	box-sizing: border-box;
}
#contact_text {
	
}
#contact_button {
	height: 35px;
	padding: 0px;
}
footer {
	height: 230px;
	background: #000;
	color: #ccc;
	box-sizing: border-box;
	padding: 1% 0%;
}
#footer_header{
	text-align: center;
	font-size: 16px;
}
#social {
	text-align: center;
}
#social a {
	text-decoration: none;
	padding: 0% 0.5%;
}
#facebook {
	scale: 1.1;
}
#twitter {
	scale: 1.4;
}
#telegram {
	scale: 1.8;
}
#whatsapp {
	scale: 1.3;
}